:root {
  color-scheme: light dark;
  background-color: #1c1c1d;
  --workground-color: #262524;
  --background-color: #1c1c1d;
  --background-alt-color: #242424;
  --foreground-color: #e3e3e3;
  --mid-color: #a1a1a1;
  --success-color: rgba(74, 123, 45, 1);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    margin: auto;
    width: 90vw;
  }
}

body.white {
  --background-color: #e3e3e3;
  --foreground-color: #242424;
}

.Light-shadow {
  background: rgb(0, 36, 2);
  background: linear-gradient(
    90deg,
    rgba(0, 56, 10, 1) 45%,
    /* Dark green */ rgba(72, 189, 110, 1) 85%,
    /* Brighter green */ rgba(255, 255, 255, 1) 100% /* Bright white */
  );
}

.Dark-shadow {
  background: rgb(217, 217, 217);
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(37, 72, 113, 1) 25%,
    rgba(2, 0, 36, 1) 55%
  );
}
