.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 5.5vh;
  height: 5.5vh;
}

.logo {
  max-height: 100%;
  display: flex;
  flex: 9;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.navigation {
  flex: 16;
  display: flex;
  flex-direction: row-reverse;
}

.logoTitle {
  font-size: min(3vh, 3vw);
  margin-block-start: 0;
  margin-block-end: 0;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.logo img {
  height: 100%;
  width: auto;
  filter: invert(0.9);
}

.navigation .button {
  font-size: min(2vh, 2vw);
  margin-left: 1rem;
  text-align: right;
  align-content: center;
  font-family: "Roboto";
  font-weight: 400;
  background-color: transparent;
  border: 0px;
}
