.gridStoryCard {
  display: flex;
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid white;
}

.randomCard {
  display: flex;
  flex: 20;
  flex-wrap: wrap;
  height: 100%;
}
