.fieldEmailRegister {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.section .metadata {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: min(1.5vw, 1.5vh);
}

.emailInput {
  padding: 1vh 0.7vw 1vh 0.7vw;
}

.continueButton {
  display: flex;
  justify-content: center;
  border: 1px solid var(--success-color);
  border-radius: min(1vh, 1vw);
  background-color: var(--success-color);
  padding: 1vh 2vw 1vh 2vw;
}
