.homePage {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 100%;
}

.deathStatement {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 2rem;
}

.deathStatement h2 {
  font-size: 3vw;
  margin: 1.5rem 0 1.5rem 0;
}

.ageReminder {
  flex: 0;
  font-family: "Roboto";
  font-size: 1rem;
  text-align: left;
}
