.homePage {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 95vh;
  width: 57vw;
  height: 95vh;
  padding: 4vh 4vw 4vh 4vw;
  margin: 2vh 2vw 2vh 2vw;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .homePage {
    width: 100vw;
    padding: 0 0 0 0;
  }
}
.deathStatement {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 28vh;
}

.deathStatement h2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: min(4vh, 4vw);
  margin: 3vh 0 3vh 0;
}

.ageReminder {
  max-height: 7.5;
  font-family: "Roboto";
  font-size: min(1.75vh, 1.75vw);
  text-align: left;
}
